<a href="https://colab.research.google.com/github/minju00/..../blob/main/python_lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
print("Hello, world!")
print(1+2)
# 문법 주석
print(7/3) # 나누기
print(7//3) # 몫
print(7%3) # 나머지
# ** 거듭제곱

name = "이민주"
age = 24
department = "소프트웨어학과"
print("이름 : "+ name)
print("나이 :",age)
print("학과 : "+ department)
# 파이썬에서 문자열끼리는 +로 이어서 출력할 수 있음

Hello, world!
3
2.3333333333333335
2
1
이름 : 이민주
나이 : 24
학과 : 소프트웨어학과

In [ ]:
print("이름을 입력해주세요.")
name = input()
print("당신의 이름은 "+ name + " 입니다")

이름을 입력해주세요.
매스컴
당신의 이름은 매스컴 입니다

In [ ]:
print("이름을 입력하세요")
name = input()
print("나이를 입력하세요")
age = int (input())
print("학과를 입력하세요")
department = input()
print("이름 : "+name +" 나이 : " , age , " 학과 :"+department)

이름을 입력하세요
이민주
나이를 입력하세요
24
학과를 입력하세요
소프트웨어학과
이름 : 이민주 나이 :  24  학과 :소프트웨어학과

In [ ]:
# 반복문
# for 문 while 문
for i in range(0,5,1):
  print("몇 번째? :",i+1)
  print("hello") # 들여쓰기 해야됨 (tab 키)

몇 번째? : 1
hello
몇 번째? : 2
hello
몇 번째? : 3
hello
몇 번째? : 4
hello
몇 번째? : 5
hello

In [ ]:
# 구구단
for i in range(1,10,1):
  print("2 *",i,"=", 2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
# 구구단 2-9단 출력
for i in range(2,10,1):
  print("구구단",i,"단")
  for j in range(1,10,1):
    print(i,"*",j,"=",i*j)

구구단 2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
구구단 3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
구구단 4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
구구단 5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
구구단 6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
구구단 7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
구구단 8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
구구단 9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
# 2주차

# 정수, 실수 문자형
print(100+200)
print("100"+"200")
#type 함수
# str() // 몫 / 나머지
# if 조건식 :
#      코드
# x != y 같지 않다

number = int(input("값을 입력해주세요 : "))
if number > 0 :
  print("양수입니다")

print("프로그램이 종료되었습니다.")

300
100200
값을 입력해주세요 : 3
양수입니다
프로그램이 종료되었습니다.

if ~ else
if ~ elif ~ else

In [ ]:
number = int(input("값을 입력해주세요 : "))
if number > 0 :
  print("양수입니다")
  if number % 2 == 0 : # if 문 안에 if 입력!
    print("2의 배수입니다")
  else :
    print("2의 배수가 아닙니다")
elif number < 0:
  print("음수입니다")
else :
  print("0입니다")
print("프로그램이 종료되었습니다.")

값을 입력해주세요 : 9
양수입니다
2의 배수가 아닙니다
프로그램이 종료되었습니다.

In [ ]:
# for문
# for 변수 in range(횟수):
#    반복할 코드
for i in range(3):
  print("1번")
for i in range(0,3):
  print("2번")
for i in range(0,3,1):
  print("3번")

# while 문
# 초기식
# while  조건식 :
#         반복할 코드
#         변화식
# i = i+1    i +=1


# 전체 주석 ctrl + /


# 2~9단 구구단 (while문)
i = 2
while i<10 :
  j = 1
  print(i,"단")
  while j <10 :
    print(i,"*",j," = ",i*j)
    j += 1
  i +=1

1번
1번
1번
2번
2번
2번
3번
3번
3번
2 단
2 * 1  =  2
2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
2 * 5  =  10
2 * 6  =  12
2 * 7  =  14
2 * 8  =  16
2 * 9  =  18
3 단
3 * 1  =  3
3 * 2  =  6
3 * 3  =  9
3 * 4  =  12
3 * 5  =  15
3 * 6  =  18
3 * 7  =  21
3 * 8  =  24
3 * 9  =  27
4 단
4 * 1  =  4
4 * 2  =  8
4 * 3  =  12
4 * 4  =  16
4 * 5  =  20
4 * 6  =  24
4 * 7  =  28
4 * 8  =  32
4 * 9  =  36
5 단
5 * 1  =  5
5 * 2  =  10
5 * 3  =  15
5 * 4  =  20
5 * 5  =  25
5 * 6  =  30
5 * 7  =  35
5 * 8  =  40
5 * 9  =  45
6 단
6 * 1  =  6
6 * 2  =  12
6 * 3  =  18
6 * 4  =  24
6 * 5  =  30
6 * 6  =  36
6 * 7  =  42
6 * 8  =  48
6 * 9  =  54
7 단
7 * 1  =  7
7 * 2  =  14
7 * 3  =  21
7 * 4  =  28
7 * 5  =  35
7 * 6  =  42
7 * 7  =  49
7 * 8  =  56
7 * 9  =  63
8 단
8 * 1  =  8
8 * 2  =  16
8 * 3  =  24
8 * 4  =  32
8 * 5  =  40
8 * 6  =  48
8 * 7  =  56
8 * 8  =  64
8 * 9  =  72
9 단
9 * 1  =  9
9 * 2  =  18
9 * 3  =  27
9 * 4  =  36
9 * 5  =  45
9 * 6  =  54
9 * 7  =  63
9 * 8  =  72
9 * 9  =  81

In [ ]:
# 1~100 중에서 7의 배수 출력
for i in range (1,101):
  if i % 7 == 0:
    print(i,"는 7의 배수입니다다")


# 7의 배수 i % 7 == 0

7 는 7의 배수입니다다
14 는 7의 배수입니다다
21 는 7의 배수입니다다
28 는 7의 배수입니다다
35 는 7의 배수입니다다
42 는 7의 배수입니다다
49 는 7의 배수입니다다
56 는 7의 배수입니다다
63 는 7의 배수입니다다
70 는 7의 배수입니다다
77 는 7의 배수입니다다
84 는 7의 배수입니다다
91 는 7의 배수입니다다
98 는 7의 배수입니다다

In [ ]:
# 1부터 100까지의 수에서 소수 출력하기
for i in range(2,101):
  j = 1
  for j in range(2,i):
    if i % j == 0:
      j = 0
  if j == 1 :
    print(i,"는 소수입니다")


# break continue

2 는 소수입니다

In [ ]:
for i in range(10):
  print(i)
  if i == 5:
    break

#######################
for i in range(10):
  if i >=5 :
    continue
  print(i)

0
1
2
3
4
5
0
1
2
3
4

In [ ]:
for i in range(10):
  print("*", end = "")
# 콜라츠 추측

**********

In [ ]:
# 3주차
score = int(input("성적을 입력하시오:"))
if score >= 60:
  print("합격입니다.")
  if score >90:
    print("장학금도 받을 수 있습니다.")
else :
  print("불합격입니다")

성적을 입력하시오:60
합격입니다.

In [ ]:
# 리스트 list
#list 만들기
a = []
b = [1,2,3,4,5]
c = ['a','b','c','d','e']
d = ['Hello','everyone','my','name','MY']

#list 출력
print(a)
print(b)
print(c)
print(d)

#list의 원소 하나에 대한 접근
print(b)
print(b[0])
print(b[1])
print(b[2])
print(b[3])
print(b[4])

# 반복문 이용
for i in range(5):
  print(b[i])

# 리스트 하나하나를 반복문으로 출력하는 것도 가능

for i in b:
  print(i)

e = list(range(10))
f = [i for i in range(10)]
g = [2 * i for i in range(10)]
print(e)
print(f)
print(g)

#0부터 14까지 2의 배수
x = [i for i in range(15) if i % 2 == 0]
print(x)

# 1~100까지 3의 배수 출력
y = [i for i in range(1,100) if i % 3 == 0]
print(y)

[]
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd', 'e']
['Hello', 'everyone', 'my', 'name', 'MY']
[1, 2, 3, 4, 5]
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [ ]:
# list slicing
# a[start : end : step] start 이상 end 미만
number = [1,2,3,4,5,6,7,8,9,10]
print(number[1:3])
print(number[3:])
print(number[:3])
print(number[::]) # 전체 출력
print(number[::-1]) # 거꾸로 출력
print(number[1:7:2])
print(number[-1]) # 리스트의 가장 끝 값 접근
print(number[-2])

# 파이썬 list 함수
b = [33, 12, 55, 36, 19]
print(b)
b.sort() # 오름차순으로 정리
print(b)
b.reverse() # 거꾸로 정렬
print(b)
b.append(1) # 리스트 제일 뒤에 값 추가
print(b)
b.insert(2,999) # 리스트 인덱스 2에 999값 추가
print(b)
del b[2] # 리스트 인덱스 2 값 제거
print(b)
b.remove(33) # 리스트에서 33의 값 제거 ( 하나만 제거됨 앞에꺼 같은 값 제거 하고 싶으면 set 함수)
print(b)
print(sum(b)) # 리스트 b의 모든 원소의 합
# print(max(b)) # 리스트 b의 원소 중 가장 큰 값
# print(min(b)) # 리스트 b의 원소 중 가장 작은 값
# print(len(b)) # 리스트 b의 (원소의 개수 or 배열의 길이)

#replace / delete/ insert/ append / sort/ reverse

[2, 3]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[2, 4, 6]
10
9
[33, 12, 55, 36, 19]
[12, 19, 33, 36, 55]
[55, 36, 33, 19, 12]
[55, 36, 33, 19, 12, 1]
[55, 36, 999, 33, 19, 12, 1]
[55, 36, 33, 19, 12, 1]
[55, 36, 19, 12, 1]
123

In [ ]:
# 리스트 있는 값 중 홀수만 출력하기기
a = [1,2,3,4,5,6,7,8,9,10,13,15,19,23,12,6,8,10,11]
x = [i for i in a if i % 2 == 1]
print(x)


# for i in range(len(a)-1): # 에러 발생해.. 이걸 for문 안에 쓸라면 index 생각을 잘해야됨됨

[1, 3, 5, 7, 9, 13, 15, 19, 23, 11]

In [ ]:
#s = list(input().split())# 가 나 다 라 마 바사
# print(s)
num = list(map(int.input().split())) #1 2 3 4 5 6 7 8 9 10
print(num)

AttributeError: ignored